@model HMS.Areas.Dashboard.ViewModels.UserRolesViewModel

@if (Model != null)
{

    <div class="modal-content">
        <div class="modal-header">

            <h5 class="modal-title"> User Roles</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">

            <!--USER ROLES TABLE-->
            @if (Model.UserRoles != null && Model.UserRoles.Count() > 0)
            {
                <table id="rolesTable" class="table table-striped">

                    <thead>

                        <!--Row tag-->
                        <tr>

                            <!--td is a cell-->
                            <th class="font-weight-bold">Name</th>
                            <th class="font-weight-bold">Action</th>

                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model.UserRoles)
                        {
                            <tr>

                                <td>@item.Name</td>

                                <td>

                                    <button data-href="@Url.Action("UserRoleOperation", "User", new { userID = Model.ID, roleID = item.Id, isDelete = true })" class="btnRoleOp dataBtn btn btn-danger" type="button">
                                        <i class="fas fa-user-minus mr-1"></i>Remove
                                    </button>
                                </td>

                            </tr>
                        }


                    </tbody>

                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    No Roles Assigned
                </div>
            }

            <!--AVAILABLE ROLES TABLE-->
            @if (Model.Roles != null && Model.Roles.Count() > 0)
            {
                <table id="rolesTable" class="table table-striped">

                    <thead>

                        <!--Row tag-->
                        <tr>

                            <!--td is a cell-->
                            <th class="font-weight-bold">Assign Roles</th>

                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model.Roles)
                        {
                            <tr>

                                <td>@item.Name</td>

                                <td>

                                    <button data-href="@Url.Action("UserRoleOperation", "User", new {userID = Model.ID, roleID = item.Id,})" class="btnRoleOp btn btn-success" type="button">
                                        <i class="fas fa-user-plus mr-1"></i>Assign
                                    </button>
                                </td>

                            </tr>
                        }


                    </tbody>

                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    No Roles Available
                </div>
            }

            <div id="errorMessage">

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
    </div>
}


<script>

    $(".btnRoleOp").click(function () {

        $.ajax({
            method: "POST",
            url: $(this).attr("data-href"),

        })
            .done(function (response) { // the response returns an json with values

                if (response != null && response.Success) { // response is success and not null
                    // call another ajax to the action 'UserRoles' and display the modal again based on it response, so it reloads the modal with updated user roles
                    $.ajax({
                        url: '@Url.Action("UserRoles", "User", new { ID=Model.ID})'
                    })
                        .done(function (response) { // the response returns an html with values

                            $("#actionModal .modal-dialog").html(response); // pass the response to the  div with class '.modal-dialog' which is child div of '.actionModal'
                        })
                        .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                            alert("failed");

                        });
                } else {
                    alert(response.Message)
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                alert("failed");

            });
    })


</script>

