@model HMS.Areas.Dashboard.ViewModels.AccomadationPackagesActionModel

@if (Model != null)
{

    <div class="modal-content">
        <div class="modal-header">
            @if (Model.ID > 0)
            {
                <h5 class="modal-title"> Edit Accomadation Package</h5>

            }
            else
            {
                <h5 class="modal-title"> Create Accomadation Package</h5>
            }
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">

            <!--Form-->
            <form id="actionForm">
                <div class="form-group">
                    <label>AccomadationTypes</label>
                    <select class="form-control" name="AccomadationTypeID">
                        @if (Model.AccomadationTypes != null)
                        {
                            foreach (var item in Model.AccomadationTypes)
                            {
                                <option value="@item.ID" @(item.ID == Model.AccomadationTypeID ? "selected" : string.Empty)>@item.Name</option>
                            }
                        }
                        else
                        {
                            <option>No AccomadationTypes Found</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="Name" placeholder="Enter Accomadation Package Name" value="@Model.Name">
                </div>
                <div class="form-group">
                    <label>No Of Rooms</label>
                    <input class="form-control" name="NoOfRoom" placeholder="Enter Accomadation Package NoOfRoom" value="@Model.NoOfRoom">
                </div>
                <div class="form-group">
                    <label>Fee Per Night</label>
                    <input class="form-control" name="FeePerNight" placeholder="Enter Accomadation Package FeePerNight" value="@Model.FeePerNight">
                </div>

                <div class="form-group">
                    <label>Picture</label>
                    <input id="selectPic" class="form-control" name="Picture" type="file" multiple>
                    <input type="hidden" name="PictureIds" id="picIds" />
                </div>

                <div id="pictureArea">

                    @if (Model.AccomadationPackagePictures != null && Model.AccomadationPackagePictures.Count() > 0)
                    {
                        foreach (var item in Model.AccomadationPackagePictures)
                        {
                            <img src="/images/site/@item.Picture.URL" class="img-fluid" style="width:230px" onclick="removePic(this)" data-id="@item.PictureID" />
                        }
                    }
                  

                </div>

                <input type="hidden" value="@Model.ID" />
            </form>

            <div id="errorMessage">

            </div>

        </div>
        <div class="modal-footer">
            <button id="saveAction" type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 

        </div>
    </div>
}

<div id="imgTemplate">
    <img src="" class="img-fluid" style="width:230px" onclick="removePic(this)" /> <!--Add inline function called removeItem and pass the this context -->
</div>

<script>

    $("#saveAction").click(function () {
        debugger
        var picIdsArray = []; // empty array

        $("#pictureArea img").each(function () { // loop thorugh each 'img' tag inside the 'pictureArea' div

            var imgIds = $(this).attr("data-id"); // get the value from the attribute 'data-id' for each img

            picIdsArray.push(imgIds); // add imgIds to picIdsArray
        });

        // join the values in the picIdsArray for e.g. 44,36,55
        // then add them to the attr 'value' of the id 'picIds'
        // becasue after we use '$("#actionForm").serialize()' in ajax which will have the values for name PictureIds, for e.g. PictureIds="44,36,55"
        $("#picIds").val(picIdsArray.join()); 
        
      $.ajax({
          method: "POST",
          url: '@Url.Action("Action", "AccomadationPackages")',
          data: $("#actionForm").serialize()

            })
                .done(function (response) {

                    if (response.Success) { // if json data called 'Success' is true

                        location.reload(); // reload the current page

                    } else {

                        $("#errorMessage").html(response.Message) // show the content from the json data called 'Message'
                    }

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                    alert("failed");

                });

    })


    $("#selectPic").change(function () { // do something on change

        var pictures = this.files; // var pictures will hold the files selected by the user

        // 'FormData' construct a set of key/value pairs representing form fields and their values, which can then be easily sent using the XMLHttpRequest.send() method.
        var formData = new FormData();

        // store each pic as value in the formData on key 'Picture'
        for (var i = 0; i < pictures.length; i++) {
            formData.append("Picture", pictures[i])
        }

      $.ajax({
          method: "POST",
          url: '@Url.Action("UplaodPicture", "SharedDashboard")',
          data: formData,
          // need these both for uploading pictures
          processData: false,
          contentType: false

            })
                .done(function (response) {

                    for (var i = 0; i < response.length; i++) { // loop through the response

                        var picture = response[i]; // store each response in var 'picture' through each loop iteration

                        var imgHtml = $("#imgTemplate").clone(); // clone the 'imgTemplate' div

                        // find the 'img' tag and set its attribute 'src' to the filepath and the picture url
                        imgHtml.find("img").attr("src", "/images/site/" + picture.URL);

                        imgHtml.find("img").attr("data-id", picture.ID);


                        // append the html of div 'imgTemplate' to  div 'pictureArea'
                        // 'imgHtml' html will be the img tags
                        $("#pictureArea").append(imgHtml.html());

                    }

                })
          .fail(function (XMLHttpRequest, textStatus, errorThrown) {

              alert("failed");

                });

    })

    // 'e' is the 'img' tag element
    function removePic(e) {
        e.remove();
        //TODO: Try to remove the pictures from the Picture database as well
    }


</script>

